@import "../colors";
@import "../nav";
@import "../layout";
@import "../wallet";
@import "../custom-input";
@import "../loginUtilities";
@import "../fileupload";

main {
    gap: 50px;

    .content {

        .alert {
            margin: 0 auto;
            max-width: 400px;
        }

        .contentContainer {
            background-color: rgb(241, 241, 241);
            box-shadow: 0 0 5px gray;
            margin: 0 auto;
            max-width: 400px;
            padding: 20px;

            & > * {
                margin: 0 auto;
                max-width: 400px;
            }

            & > div {
                margin-bottom: 20px;
            }

            .text-danger.error-message {
                font-size: 13px;
            }

            h4 {
                font-size: 1.5em;
                margin-bottom: 40px;
                text-align: center;
            }

            label {
                font-size: .8em;
                font-weight: bold;
            }

            input {
                font-size: .8em;
            }

            .buttonGreenContainer {
                margin: 40px auto 0 auto;
            }

            .already-uploaded {
                background-color: darken($primary-color, 10%);
                color: white;
                text-align: center;
            }
        }
    }
}

@media (min-width: 576px) {

    main {
        font-size: 17px;
    }
}

@media (min-width: 768px) {

    main {
        font-size: 19px;

        .content {

            .alert {
                max-width: 500px;
            }

            .contentContainer {
                max-width: 500px;
                padding: 40px;
            }
        }
    }
}