@import "../colors";
@import "../nav";
@import "../layout";
@import "../wallet";
@import "../fileupload";
@import "../submit";

main {
    gap: 50px;

    .content {

        .alert {
            margin: 0 auto;
            max-width: 400px;
        }

        .contentContainer {
            background-color: $light-color;
            box-shadow: 0 0 3px gray;
            margin: 0 auto;
            max-width: 400px;
            padding: 20px;

            & > * {
                margin: 0 auto;
                max-width: 400px;
            }

            & > div {
                margin-bottom: 20px;
            }

            h4 {
                font-size: 1.5em;
                margin-bottom: 40px;
                text-align: center;
            }

            label, .instructions {
                color: #5c5c5c;
                font-size: .8em;
                font-weight: bold;
            }

            input, p {
                font-size: .8em;
            }

            .select-container {

                select {
                    color: #5c5c5c;
                    font-size: .8em;
                    font-weight: bold;
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    main {
        
        .content {
            font-size: 17px;
        }
    }
}

@media (min-width: 768px) {
    main {

        .content {
            font-size: 19px;
            
            .alert {
                max-width: 500px;
            }

            .contentContainer {
                max-width: 500px;
                padding: 40px;
            }
        }
    }
}