@import "../colors";
@import "../nav";
@import "../layout";
@import "../wallet";
@import "../custom-input";
@import "../loginUtilities";


main {
    .content {
        border-bottom: 2px solid gray;
        padding-bottom: 40px;

        .contentContainer {
            max-width: 500px;

            &>* {
                text-align: center;
                width: 100%;
            }

            h4 {
                font-size: 1.5em;
                margin-bottom: 20px;
            }

            div {
                margin-bottom: 10px;

                img {
                    user-select: none;
                    width: 50%;
                }
            }

            label, input {
                font-size: .8em;
            }

            input {
                text-align: center;
            }

            .buttonGreenContainer {
                margin-bottom: 40px;

                button {
                    font-size: 1em;
                }
            }
            
        }
    }
}

@media (min-width: 576px) {
    main {

        .content {
            display: flex;
            font-size: 17px;
            justify-content: center;
        }
    }
}


@media (min-width: 768px) {
    main {

        .content {
            font-size: 20px;
            border-bottom: none;
            margin-bottom: 20px;

            .contentContainer {
                margin-top: 40px;

                & > * {
                    margin: 20px 0;
                }
                
                .valueContainer {
                    display: grid;
                    grid-template-columns: minmax(auto, 160px) 1fr;

                    label {
                        align-items: center;
                        display: flex;
                    }
                }
            }
        }
    }
}