.navbar.navbar-dark {
  background-color: #0ab0ae;
  box-shadow: 0 0 5px black;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar.navbar-dark .navbar-brand {
  padding: 0 0 0 10px;
}
.navbar.navbar-dark .navLogo {
  height: 80px;
}
.navbar.navbar-dark .nav-item button.stand-alone {
  background-color: #0ab0ae;
  border: none;
  color: white;
}
.navbar.navbar-dark .nav-link {
  color: white;
  font-weight: bold;
}
.navbar.navbar-dark .nav-link:hover {
  color: #e6ddca;
}
.navbar.navbar-dark .nav-link:focus {
  color: #f6c55c;
}
.navbar.navbar-dark .dropdown-menu .dropdown-item:hover {
  background-color: #dcdcdc;
  color: #a76406;
}
.navbar.navbar-dark .dropdown-menu .dropdown-item.active {
  background-color: #0ab0ae;
  color: white;
}

@media (min-width: 576px) {
  .navbar.navbar-dark .navbar-brand {
    padding: 0 0 0 20px;
  }
  .navbar.navbar-dark .navLogo {
    height: 100px;
  }
}
@media (min-width: 768px) {
  .navbar.navbar-dark .navbar-collapse {
    justify-content: flex-end;
    padding: 0 20px 0 0;
  }
}
main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
main section {
  margin: 0px 0;
}
main .content {
  margin-top: 20px;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-between;
  }
  main .content {
    margin: 20px 40px;
    width: 60%;
  }
}
main .wallet {
  margin-top: 15px;
}
main .wallet div .walletContainer {
  align-items: center;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px 30px 20px 30px;
  max-width: 350px;
}
main .wallet div .walletContainer:nth-child(2) {
  display: block;
  margin-top: 10px;
  padding: 0 20px;
}
main .wallet div .walletContainer:nth-child(2) p span {
  color: #0ab0ae;
  font-weight: bold;
}
main .wallet div .walletContainer:nth-child(2) p.text-danger {
  font-size: 0.7em;
  text-align: left;
}
main .wallet div .walletContainer > * {
  text-align: center;
  margin: 5px 0;
}
main .wallet div .walletContainer .dropdown {
  margin: 10px 0;
}
main .wallet div .walletContainer .dropdown-toggle {
  background-color: #0ab0ae;
  border: 2px solid #0ab0ae;
  box-shadow: 0 0 2px #155741;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 250ms, color 250ms, transform 250ms;
}
main .wallet div .walletContainer .dropdown-toggle:hover, main .wallet div .walletContainer .dropdown-toggle:focus {
  background-color: white;
  color: #0ab0ae;
  transform: scale(1.05);
}
main .wallet div .walletContainer .dropdown-menu {
  background-color: white;
}
main .wallet div .walletContainer .dropdown-menu .dropdown-item {
  color: #0ab0ae;
}
main .wallet div .walletContainer .dropdown-menu .dropdown-item:hover {
  background-color: #0ab0ae;
  color: white;
}

@media (min-width: 768px) {
  main .wallet > div {
    position: sticky;
    top: 130px;
  }
}
@media (min-width: 768px) {
  main .wallet {
    width: 30%;
  }
}
.custom-input-container {
  box-shadow: 0 0 3px #8c8c8c;
  width: 100%;
  display: flex;
}
.custom-input-container > * {
  padding: 5px 10px;
}
.custom-input-container .custom-input-label {
  background-color: #eeeeee;
  border-right: 1px solid #c7c7c7;
  padding: 5px 10px;
  width: 90px;
}
.custom-input-container .custom-input {
  background-color: white;
  flex: 1;
}

main .content .contentContainer {
  font-size: 1em;
  border: 1px solid gray;
  border-radius: 3px;
}
main .content .contentContainer > * {
  border-bottom: 1px solid gray;
}
main .content .contentContainer h4 {
  font-size: 1.5em;
}
main .content .contentContainer h5,
main .content .contentContainer h6 {
  color: gray;
}
main .content .contentContainer h5 {
  font-size: 0.9em;
}
main .content .contentContainer h6 {
  font-size: 0.7em;
}
main .content .contentContainer:last-child {
  border-bottom: none;
}
main .content .contentContainer .mainHeader {
  padding: 10px;
}
main .content .contentContainer .subHeader {
  padding: 5px 20px;
}
main .content .contentContainer .subHeader > * {
  margin: 0;
}
main .content .contentContainer .subHeader div {
  font-size: 0.6em;
}
main .content .contentContainer .details-grid {
  display: grid;
  padding: 10px 20px;
}
main .content .contentContainer .details-grid > div {
  font-size: 0.65em;
  text-align: center;
}
main .content .contentContainer .details-grid h6,
main .content .contentContainer .details-grid p {
  align-items: center;
  display: flex;
}
main .content .contentContainer .details-grid h6 {
  margin-bottom: 0;
}
main .content .contentContainer .details-grid p {
  font-size: 0.7em;
  font-weight: bold;
  justify-content: center;
  margin: 0;
  text-align: center;
}
main .content .contentContainer .details-grid.name {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: ". firstname middlename lastname" "name first middle last";
}
main .content .contentContainer .details-grid.name .firstname {
  grid-area: firstname;
}
main .content .contentContainer .details-grid.name .middlename {
  grid-area: middlename;
}
main .content .contentContainer .details-grid.name .lastname {
  grid-area: lastname;
}
main .content .contentContainer .details-grid.name h6,
main .content .contentContainer .details-grid.name p {
  align-items: center;
  display: flex;
}
main .content .contentContainer .details-grid.name h6 {
  grid-area: name;
}
main .content .contentContainer .details-grid.name .first {
  grid-area: first;
}
main .content .contentContainer .details-grid.name .middle {
  grid-area: middle;
}
main .content .contentContainer .details-grid.name .last {
  grid-area: last;
}
main .content .contentContainer .details-grid.address {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". city province" "address c p";
}
main .content .contentContainer .details-grid.address .city {
  grid-area: city;
}
main .content .contentContainer .details-grid.address .province {
  grid-area: province;
}
main .content .contentContainer .details-grid.address h6 {
  grid-area: address;
}
main .content .contentContainer .details-grid.address .c {
  grid-area: c;
}
main .content .contentContainer .details-grid.address .p {
  grid-area: p;
}
main .content .contentContainer .details {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
main .content .contentContainer .details h6 {
  margin: 0;
}
main .content .contentContainer .details p {
  font-size: 0.7em;
  font-weight: bold;
  margin: 0;
}

@media (min-width: 768px) {
  main .content {
    font-size: 20px;
  }
  main .content .contentContainer .details {
    display: grid;
    grid-template-columns: minmax(150px, 30%) 1fr;
  }
}
