.navbar.navbar-dark {
  background-color: #0ab0ae;
  box-shadow: 0 0 5px black;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar.navbar-dark .navbar-brand {
  padding: 0 0 0 10px;
}
.navbar.navbar-dark .navLogo {
  height: 80px;
}
.navbar.navbar-dark .nav-item button.stand-alone {
  background-color: #0ab0ae;
  border: none;
  color: white;
}
.navbar.navbar-dark .nav-link {
  color: white;
  font-weight: bold;
}
.navbar.navbar-dark .nav-link:hover {
  color: #e6ddca;
}
.navbar.navbar-dark .nav-link:focus {
  color: #f6c55c;
}
.navbar.navbar-dark .dropdown-menu .dropdown-item:hover {
  background-color: #dcdcdc;
  color: #a76406;
}
.navbar.navbar-dark .dropdown-menu .dropdown-item.active {
  background-color: #0ab0ae;
  color: white;
}

@media (min-width: 576px) {
  .navbar.navbar-dark .navbar-brand {
    padding: 0 0 0 20px;
  }
  .navbar.navbar-dark .navLogo {
    height: 100px;
  }
}
@media (min-width: 768px) {
  .navbar.navbar-dark .navbar-collapse {
    justify-content: flex-end;
    padding: 0 20px 0 0;
  }
}
body {
  background-color: #f0f0f0;
}

main {
  display: grid;
  margin-bottom: 20px;
  padding: 0 20px;
}
main section {
  margin: 0px 0;
}
main .content {
  margin-top: 20px;
}
main .content > .alert {
  box-shadow: 0 0 3px gray;
}

@media (min-width: 768px) {
  main {
    gap: 20px;
    grid-template-columns: 60% 40%;
    justify-content: center;
  }
}
@media (min-width: 1000px) {
  main {
    margin: 0 50px 20px 50px;
  }
}
@media (min-width: 1000px) {
  main {
    margin: 0 100px 20px 100px;
  }
}
main .wallet {
  margin-bottom: 20px;
}
main .wallet .walletContainer, main .wallet .invites {
  box-shadow: 0 0 3px gray;
  margin: 20px auto 0 auto;
  max-width: 400px;
  padding: 20px;
}
main .wallet .walletContainer {
  background-color: white;
}
main .wallet .walletContainer h6 {
  color: #3f3f3f;
  font-size: 1em;
  font-weight: bold;
}
main .wallet .walletContainer label, main .wallet .walletContainer select, main .wallet .walletContainer p {
  color: #3f3f3f;
  font-weight: bold;
}
main .wallet .walletContainer .balance h6 {
  color: #054f4f;
  font-size: 1.5em;
  margin: 0px;
}
main .wallet .walletContainer .balance h6 span {
  color: #3f3f3f;
  font-size: 0.6em;
}
main .wallet .walletContainer .balance label {
  font-size: 0.6em;
  transform: translateY(-50%);
}
main .wallet .walletContainer div label, main .wallet .walletContainer div select {
  font-size: 0.8em;
}
main .wallet .walletContainer div label, main .wallet .walletContainer div select, main .wallet .walletContainer div p {
  color: #5c5c5c;
}
main .wallet .walletContainer div p {
  font-size: 0.6em;
}
main .wallet .invites {
  background-color: white;
  font-weight: bold;
}
main .wallet .invites .badge-container {
  display: flex;
  justify-content: flex-end;
}
main .wallet .invites h6 {
  color: #3f3f3f;
  font-size: 1em;
}
main .wallet .invites .tableContainer {
  background-color: #5c5c5c;
  box-shadow: 0 0 3px #292929;
  color: #f8f8f8;
}
main .wallet .invites .tableContainer .dataContainer {
  border-bottom: 1px solid white;
  display: flex;
  padding: 5px;
}
main .wallet .invites .tableContainer .dataContainer:last-child {
  border: none;
}
main .wallet .invites .tableContainer .dataContainer div {
  flex-basis: 50%;
  font-size: 0.8em;
  text-align: center;
}

@media (min-width: 576px) {
  main .wallet {
    font-size: 17px;
  }
  main .wallet .walletContainer, main .wallet .invites {
    padding: 30px;
  }
}
@media (min-width: 768px) {
  main .wallet {
    font-size: 19px;
  }
  main .wallet .invites .badge-container .badge {
    transform: translate(20%, -50%);
  }
}
.button-submit {
  background-color: #0ab0ae;
  border: 2px solid #0ab0ae;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
  width: 100%;
  transition: background-color 250ms, border 250ms;
}
.button-submit:hover {
  background-color: #07807e;
  border: 2px solid #07807e;
}

section#announcement {
  background-color: #07807e;
  color: white;
  margin-top: 20px;
}
section#announcement div {
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}
section#announcement span {
  color: gold;
}

@media (min-width: 576px) {
  section#announcement {
    font-size: 16px;
  }
  section#announcement div {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  section#announcement {
    font-size: 18px;
    margin-top: 60px;
  }
  section#announcement div {
    max-width: 900px;
    padding: 30px;
  }
}
main {
  gap: 50px;
}
main .content .contentContainer {
  max-width: 400px;
  margin: 0 auto;
}
main .content .contentContainer > * {
  text-align: center;
}
main .content .contentContainer h4 {
  font-size: 1.5em;
}
main .content .contentContainer h6 {
  font-size: 0.9em;
  max-width: 500px;
}
main .content .contentContainer .headerContainer, main .content .contentContainer .stats {
  box-shadow: 0 0 3px gray;
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}
main .content .contentContainer .headerContainer {
  background-color: white;
  padding: 30px 15px 15px 15px;
}
main .content .contentContainer .stats {
  background-color: #07807e;
  color: white;
  display: flex;
  justify-content: space-between;
}
main .content .contentContainer .stats.stats-desktop {
  display: none;
}
main .content .contentContainer .stats p {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
}
main .content .contentContainer .stats p span {
  background-color: #032e2d;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  padding: 5px;
}
main .content .contentContainer .codes {
  background-color: white;
  box-shadow: 0 0 3px gray;
  margin: 20px auto 0 auto;
  max-width: 500px;
  padding: 20px 0 10px 0;
}
main .content .contentContainer .codes > * {
  text-align: center;
}
main .content .contentContainer .codes h5 {
  font-size: 1.2em;
  margin-bottom: 20px;
}
main .content .contentContainer .codes .tableContainer {
  font-size: 0.8em;
  padding: 0 30px;
}
main .content .contentContainer .codes .tableContainer > div {
  padding: 10px 0;
}
main .content .contentContainer .codes .tableContainer > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content .contentContainer .codes .tableContainer .headerContainer {
  font-weight: bold;
}
main .content .contentContainer .codes .tableContainer .dataContainer {
  border-bottom: 1px solid gray;
}
main .content .contentContainer .codes .tableContainer .dataContainer:last-child {
  border-bottom: none;
}
main .content .contentContainer .codes .tableContainer .dataContainer .tool-tip-container .tool-tip-text {
  background-color: #032e2d;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 5px 8px;
  position: absolute;
  transform: translateY(-35px);
  visibility: hidden;
}
main .content .contentContainer .codes .tableContainer .dataContainer .tool-tip-container .tool-tip-animate {
  -webkit-animation-name: tool-tip-animation;
          animation-name: tool-tip-animation;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
@-webkit-keyframes tool-tip-animation {
  0% {
    visibility: unset;
  }
  30% {
    opacity: 1;
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(-45px);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes tool-tip-animation {
  0% {
    visibility: unset;
  }
  30% {
    opacity: 1;
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(-45px);
    opacity: 0;
    visibility: hidden;
  }
}
main .content .contentContainer .instructions {
  background-color: #aa1616;
  border: 2px solid #aa1616;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px gray;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  max-width: 500px;
  margin: 0 auto;
  padding: 22px 10px;
}

@media (min-width: 576px) {
  main .content {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  main .content {
    font-size: 19px;
  }
  main .content .contentContainer {
    max-width: 700px;
  }
  main .content .contentContainer .stats.stats-mobile {
    display: none;
  }
  main .content .contentContainer .stats.stats-desktop {
    display: flex;
  }
}
