.navbar.navbar-dark {
  background-color: #0ab0ae;
  box-shadow: 0 0 5px black;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar.navbar-dark .navbar-brand {
  padding: 0 0 0 10px;
}
.navbar.navbar-dark .navLogo {
  height: 80px;
}
.navbar.navbar-dark .nav-item button.stand-alone {
  background-color: #0ab0ae;
  border: none;
  color: white;
}
.navbar.navbar-dark .nav-link {
  color: white;
  font-weight: bold;
}
.navbar.navbar-dark .nav-link:hover {
  color: #e6ddca;
}
.navbar.navbar-dark .nav-link:focus {
  color: #f6c55c;
}
.navbar.navbar-dark .dropdown-menu .dropdown-item:hover {
  background-color: #dcdcdc;
  color: #a76406;
}
.navbar.navbar-dark .dropdown-menu .dropdown-item.active {
  background-color: #0ab0ae;
  color: white;
}

@media (min-width: 576px) {
  .navbar.navbar-dark .navbar-brand {
    padding: 0 0 0 20px;
  }
  .navbar.navbar-dark .navLogo {
    height: 100px;
  }
}
@media (min-width: 768px) {
  .navbar.navbar-dark .navbar-collapse {
    justify-content: flex-end;
    padding: 0 20px 0 0;
  }
}
main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
main section {
  margin: 0px 0;
}
main .content {
  margin-top: 20px;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-between;
  }
  main .content {
    margin: 20px 40px;
    width: 60%;
  }
}
main .wallet {
  margin-top: 15px;
}
main .wallet div .walletContainer {
  align-items: center;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px 30px 20px 30px;
  max-width: 350px;
}
main .wallet div .walletContainer:nth-child(2) {
  display: block;
  margin-top: 10px;
  padding: 0 20px;
}
main .wallet div .walletContainer:nth-child(2) p span {
  color: #0ab0ae;
  font-weight: bold;
}
main .wallet div .walletContainer:nth-child(2) p.text-danger {
  font-size: 0.7em;
  text-align: left;
}
main .wallet div .walletContainer > * {
  text-align: center;
  margin: 5px 0;
}
main .wallet div .walletContainer .dropdown {
  margin: 10px 0;
}
main .wallet div .walletContainer .dropdown-toggle {
  background-color: #0ab0ae;
  border: 2px solid #0ab0ae;
  box-shadow: 0 0 2px #155741;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 250ms, color 250ms, transform 250ms;
}
main .wallet div .walletContainer .dropdown-toggle:hover, main .wallet div .walletContainer .dropdown-toggle:focus {
  background-color: white;
  color: #0ab0ae;
  transform: scale(1.05);
}
main .wallet div .walletContainer .dropdown-menu {
  background-color: white;
}
main .wallet div .walletContainer .dropdown-menu .dropdown-item {
  color: #0ab0ae;
}
main .wallet div .walletContainer .dropdown-menu .dropdown-item:hover {
  background-color: #0ab0ae;
  color: white;
}

@media (min-width: 768px) {
  main .wallet > div {
    position: sticky;
    top: 130px;
  }
}
@media (min-width: 768px) {
  main .wallet {
    width: 30%;
  }
}
.custom-input-container {
  box-shadow: 0 0 3px #8c8c8c;
  width: 100%;
  display: flex;
}
.custom-input-container > * {
  padding: 5px 10px;
}
.custom-input-container .custom-input-label {
  background-color: #eeeeee;
  border-right: 1px solid #c7c7c7;
  padding: 5px 10px;
  width: 90px;
}
.custom-input-container .custom-input {
  background-color: white;
  flex: 1;
}

main {
  gap: 50px;
}
main .content .contentContainer {
  max-width: 400px;
  margin: 0 auto;
}
main .content .contentContainer > * {
  text-align: center;
}
main .content .contentContainer h4 {
  font-size: 1.5em;
}
main .content .contentContainer h6 {
  font-size: 0.9em;
  max-width: 500px;
}
main .content .contentContainer .stats {
  background-color: #07807e;
  box-shadow: 0 0 5px gray;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}
main .content .contentContainer .stats.stats-desktop {
  display: none;
}
main .content .contentContainer .stats p {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0;
}
main .content .contentContainer .stats p span {
  background-color: #032e2d;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  padding: 5px;
}
main .content .contentContainer .rewards {
  background-color: #f1f1f1;
  box-shadow: 0 0 5px gray;
  margin: 20px auto 0 auto;
  max-width: 500px;
  padding: 20px 0 10px 0;
}
main .content .contentContainer .rewards > * {
  text-align: center;
}
main .content .contentContainer .rewards h5 {
  font-size: 1.2em;
  margin-bottom: 20px;
}
main .content .contentContainer .rewards .tableContainer {
  font-size: 0.8em;
  padding: 0 30px;
}
main .content .contentContainer .rewards .tableContainer > div {
  padding: 10px 0;
}
main .content .contentContainer .rewards .tableContainer > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content .contentContainer .rewards .tableContainer .headerContainer {
  font-weight: bold;
}
main .content .contentContainer .rewards .tableContainer .dataContainer {
  border-bottom: 1px solid gray;
}
main .content .contentContainer .rewards .tableContainer .dataContainer:last-child {
  border-bottom: none;
}
main .content .contentContainer .rewards .tableContainer .dataContainer .tool-tip-container .tool-tip-text {
  background-color: #032e2d;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 5px 8px;
  position: absolute;
  transform: translateY(-35px);
  visibility: hidden;
}
main .content .contentContainer .rewards .tableContainer .dataContainer .tool-tip-container .tool-tip-animate {
  -webkit-animation-name: tool-tip-animation;
          animation-name: tool-tip-animation;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
@-webkit-keyframes tool-tip-animation {
  0% {
    visibility: unset;
  }
  30% {
    opacity: 1;
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(-45px);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes tool-tip-animation {
  0% {
    visibility: unset;
  }
  30% {
    opacity: 1;
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(-45px);
    opacity: 0;
    visibility: hidden;
  }
}
main .content .contentContainer .instructions {
  background-color: #aa1616;
  border: 2px solid #aa1616;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 5px gray;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  max-width: 500px;
  margin: 0 auto;
  padding: 22px 10px;
}

@media (min-width: 576px) {
  main {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  main {
    font-size: 19px;
  }
  main .content .contentContainer {
    max-width: 700px;
  }
  main .content .contentContainer .stats.stats-mobile {
    display: none;
  }
  main .content .contentContainer .stats.stats-desktop {
    display: flex;
  }
}
