body {
    background-color: rgb(240, 240, 240);
}

main {
    display: grid;
    margin-bottom: 20px;
    padding: 0 20px;

    section {
        margin: 0px 0;
    }

    .content {
        margin-top: 20px;

        & > .alert {
            box-shadow: 0 0 3px gray;
        }
    }
}

@media (min-width: 768px) {
    main {
        gap: 20px;
        grid-template-columns: 60% 40%;
        justify-content: center;
    }
}

@media (min-width: 1000px) {
    main {
        margin: 0 50px 20px 50px;
    }
}

@media (min-width: 1000px) {
    main {
        margin: 0 100px 20px 100px;
    }
}