main {

    .wallet {
        margin-bottom: 20px;

        .walletContainer, .invites {
            box-shadow: 0 0 3px gray;
            margin: 20px auto 0 auto;
            max-width: 400px;
            padding: 20px;
        }

        .walletContainer {
            background-color: $light-color;

            h6 {
                color: #3f3f3f;
                font-size: 1em;
                font-weight: bold;
            }

            label, select, p {
                color: #3f3f3f;
                font-weight: bold;
            }

            .balance {

                h6 {
                    color: darken($primary-color, 20%);
                    font-size: 1.5em;
                    margin: 0px;

                    span {
                        color: #3f3f3f;
                        font-size: .6em;
                    }
                }

                label {
                    font-size: .6em;
                    transform: translateY(-50%);
                }
            }

            div {

                label, select {
                    font-size: .8em;
                }

                label, select, p {
                    color: #5c5c5c;
                }

                p {
                    font-size: .6em;
                }
            }
        }

        .invites {
            background-color: $light-color;
            font-weight: bold;
            
            .badge-container {
                display: flex;
                justify-content: flex-end;
            }

            h6 {
                color: #3f3f3f;
                font-size: 1em;
            }

            .tableContainer {
                background-color: #5c5c5c;
                // border-radius: 5px;
                box-shadow: 0 0 3px darken(#5c5c5c, 20%);
                color: rgb(248, 248, 248);

                .dataContainer {
                    border-bottom: 1px solid white;
                    display: flex;
                    padding: 5px;

                    &:last-child {
                        border: none;
                    }

                    div {
                        flex-basis: 50%;
                        font-size: .8em;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    main {

        .wallet {
            font-size: 17px;

            .walletContainer, .invites {
                padding: 30px;
            }
        }
    }
}

@media (min-width: 768px) {
    main {

        .wallet {
            font-size: 19px;

            .invites {
            
                .badge-container {
    
                    .badge {
                        transform: translate(20%, -50%);
                    }
                }
            }
        }
    }
}