@import "../colors";
@import "../nav";
@import "../layout";
@import "../loginUtilities";

$acceptColor: rgb(39, 138, 39);
$declineColor: rgb(220, 18, 18);
$defaultMaxWidth: 400px;

main {
    align-items: center;

    &>* {
        max-width: 500px;
        width: 100%;
    }

    .search {
        padding-top: 20px;

        .input-group {

            button.btn {
                z-index: 0;
            }
        }
    }

    .content {

        &>div {
            box-shadow: 0 0 3px rgb(128, 128, 128);
            margin-bottom: 20px;

            .list-group-item {
                border: none;
            }
        }

        .formContainer {
            border-top: 1px solid rgba(0, 0, 0, .125);
            display: flex;

            &>* {
                align-items: center;
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                padding: 10px;
                width: 50%;
            }

            form {

                button {
                    border-radius: 5px;
                    color: white;
                    font-size: 1em;
                    font-weight: bold;
                    padding: 5px 10px;
                    width: 80%;

                    transition: color 250ms, background-color 250ms, transform 250ms;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .formAccept {

                button {
                    background-color: white;
                    color: $acceptColor;
                    border: 2px solid $acceptColor;

                    &:hover {
                        background-color: $acceptColor;
                        color: white;
                    }
                }
            }

            .formDecline {

                button {
                    background-color: white;
                    color: $declineColor;
                    border: 2px solid $declineColor;

                    &:hover {
                        background-color: $declineColor;
                        color: white;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {}


@media (min-width: 768px) {
    main {
        align-items: center;
        flex-direction: column;

        &>* {
            max-width: 700px;
            width: 100%;
        }

        .content {
            width: 100%;

            .user-details {
                display: flex;

                small {
                    width: 35%;
                }

                p {
                    width: 65%;
                }
            }

            .formContainer {

                form {

                    button {

                        padding: 8px 15px;
                        width: 50%;
                    }
                }
            }
        }
    }
}