@import "../colors";
@import "../nav";
@import "../layout";
@import "../wallet";
@import "../custom-input";
@import "../loginUtilities";


main {
    align-items: center;
    font-size: 15px;

    &>* {
        max-width: 500px;
        width: 100%;
    }

    .content {
        text-align: center;

        .contentContainer {

            &>* {
                text-align: center;
                margin-bottom: 10px;
            }

            h4 {
                font-size: 1.5em;
            }

            input {
                font-size: .8em;
            }

            button {
                background-color: white;
                border: 2px solid $primary-color;
                border-radius: 5px;
                box-shadow: 0 0 3px darken($primary-color, 30%);
                color: $primary-color;
                font-size: 1em;
                font-weight: bold;
                padding: 5px 10px;
                transition: background-color 250ms, color 250ms;


                &:hover {
                    background-color: $primary-color;
                    color: white;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    main {
        font-size: 17px;
    }
}


@media (min-width: 768px) {
    main {
        align-items: flex-start;
        font-size: 19px;

        &>* {
            max-width: 700px;
            width: 100%;
        }

        .content {
            width: 100%;

            .contentContainer {
                max-width: 500px;
                
                button {
                    padding: 8px 20px;
                }
            }
        }
    }
}