@import "../colors";
@import "../nav";
@import "../layout";
@import "../wallet";
@import "../fileupload";
@import "../submit";
@import "../announcement";

main {

    .content {

        .alert {
            margin: 0 auto;
            max-width: 400px;
        }

        .contentContainer {
            background-color: $light-color;
            box-shadow: 0 0 3px gray;
            margin: 0 auto;
            max-width: 400px;

            .user-profile {
                padding: 20px;

                &>* {
                    margin: 0 auto;
                }

                &>div {
                    border-radius: 50%;
                    box-shadow: 0 0 3px black;
                    height: 150px;
                    margin-top: 20px;
                    width: 150px;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                form {
                    margin: 0 auto;
                    margin-top: 20px;
                    max-width: 400px;
                }

                h4 {
                    color: #3f3f3f;
                    font-size: 1.2em;
                    font-weight: bold;
                    margin: 40px 0;
                    text-align: center;
                }
            }

            .user-details {

                .accordion {

                    .accordion-item {

                        .accordion-header {

                            .accordion-button {
                                background-color: $light-color;
                                color: #3f3f3f;
                                font-weight: bold;
                                z-index: 0;

                                &:first-child {
                                    border-top: 1px solid rgb(214, 214, 214);
                                }

                                &.collapsed {
                                    color: #3f3f3f;
                                }
                            }
                        }

                        .accordion-collapse {

                            .accordion-body {
                                background-color: $light-color;

                                label {
                                    color: rgb(133, 133, 133);
                                    font-size: .7em;
                                    font-weight: bold;
                                }

                                h6 {
                                    color: #383838;
                                    font-size: .9em;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {

        .content {

            .alert {
                max-width: 600px;
            }

            .contentContainer {
                max-width: 600px;
            }
        }
    }
}