@import "../colors";
@import "../nav";
@import "../layout";
@import "../wallet";
@import "../submit";
@import "../announcement";

main {
    gap: 50px;

    .content {
        font-size: 15px;

        .alert {
            max-width: 400px;
        }

        .contentContainer {
            background-color: $light-color;
            box-shadow: 0 0 3px gray;
            margin: 0 auto;
            max-width: 400px;
            padding: 30px;

            & > * {
                margin: 0 auto;
            }

            h4, h6, p {
                text-align: center;
            }

            h4 {
                font-size: 1.5em;
                margin-bottom: 5px;
            }

            h6 {
                color: rgb(83, 83, 83);
                font-size: .9em;
                margin-bottom: 30px;
            }

            p {
                font-size: .8em;
            }

            article {
                font-size: .7em;
                text-align: left;
            }

            div {
                width: 100%;

                label, input {
                    font-size: .8em;
                }

                label {
                    color: #5c5c5c;
                    font-weight: bold;
                }

                p {
                    font-size: .7em;
                }
            }

            .instructions {
                margin-top: 30px;
                margin-bottom: 20px;
            }

            .error-message {
                text-align: left;
            }
        }
    }
}


@media (min-width: 576px) {
    main {

        .content {
            font-size: 17px;
        }
    }
}


@media (min-width: 768px) {
    main {

        .content {
            font-size: 19px;

            .alert {
                max-width: 600px;
            }

            .contentContainer {
                max-width: 600px;
                padding: 50px;

                & > * {
                    max-width: 400px;
                }
            }
        }
    }
}